{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suppression</title>
    <link rel="stylesheet" href="{% static 'yuasa/styles.css' %}">
</head>
<body>



<div class="centered">
    <h1>Supprimer le lot</h1>
    <p>Etes-vous sûr de bien vouloir supprimer le lot {{ palette.date_code }} de la référence {{ palette.reference }} ? </p>

    <form action="" method="post">
    {% csrf_token %}
    <input id="envoyer" type="submit" value="Supprimer">
    </form>
</div>
</body>
</html>