
*{
    box-sizing: border-box;
}

nav a:link{
    color: black;
    text-decoration:none;
}

nav a:visited{
    color: black;
    text-decoration:none;
}


nav a:hover{
    color: black;
    text-decoration:none;
    font-weight: bold;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)), url("store.jpg") no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     font-family: Arial;
     color: white;
     margin:20px;
}



div nav
{
    text-align: center;
}

h1 
{
    text-align: center;
    margin-top: 30px;
}

table
{
    margin: auto;
}

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

nav a{
    text-align: center;
    font-size: 20px;
    border: 1px black non;
    padding: 8px;
    background-color: white;
    border-radius: 10px;
}

li
{
    list-style-type: none;
    display: block;
    text-align: center;
    font-size: 20px;
    border: 1px black non;
    padding: 8px;
    background-color: white;
    border-radius: 10px;
}


table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

th, td
{
    padding: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}

td {
    text-align: center;
  vertical-align: middle;
}


/* ID  */


#main{
    display:flex;
    flex-direction: column;
    align-items: center;
}


#logo{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    border: 1px black none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(255,255,255,0.16), 0 3px 6px rgba(255,255,255,0.23);
}

#envoyer{
    margin-top:30px;



